{% load static %}
<html >
<head>
	<title>САЙТ</title>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all" />

	<link rel="shortcut icon" href="css/images/favicon.ico" />

</head>
<body>
<div class="shell">
	<div class="border">

		<div id="navigation">
			<ul>
			    <li><a href="/" class="active">Главная</a></li>
			    <li><a href=/admin>Админ панель</a></li>

			</ul>
		</div>

		<div id="main">
			<div id="content" class="left">

				<div class="projects">
					<h3>Список проектов</h3>
					{% for project in zhk_list %}
					<div class="item">
<!--						<div class="image left">-->
<!--							<a href="#"><img src="css/images/project01.jpg" alt="" /></a>-->
<!--						</div>-->
						<div class="text left">
							Проект: <b style="color: green">{{ project.name_project }}</b>
							<br>
							Застройщик: <b style="color: red">{{ project.name_developer }}</b>
							<br>
							<h3><a href='{{ project.id }}'>Обновить</a></h3>
						</div>
						<div class="cl">&nbsp;</div>
					</div>
					{% endfor %}
				</div>
			</div>

			<div class="cl">&nbsp;</div>
		</div>


	</div>


</div>
</body>
</html>